* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #0a0a0a;
  color: #ffffff;
}

.container {
  padding: 1rem 1.5rem;
  max-width: 80rem;
  margin: 0 auto;
}

.header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.nav__logo {
  width: 7rem;
  height: 7rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav__logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.nav__items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.nav__list a {
  text-decoration: none;
  color: #a6a8cd;
}
.nav__list a:hover {
  color: #ffffff;
}
.nav__burger {
  display: none;
  cursor: pointer;
}
.nav__burger span {
  display: inline-block;
  width: 3rem;
  height: 0.3rem;
  background-color: #ffffff;
}

@media (width < 576px) {
  .nav__items {
    display: none;
  }
  .nav__burger {
    display: block;
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
  }
  .about__text--bio {
    max-width: 50rem;
    margin: 0 auto;
  }
  .tennis__image--block {
    flex-wrap: wrap;
  }
}
@media (width < 450px) {
  .computers__image--block {
    max-width: 30rem;
    max-height: 28rem;
  }
}
.about {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  row-gap: 3rem;
  padding: 1rem 1.5rem;
  margin-bottom: 8rem;
}
.about__title {
  font-weight: 400;
}
.about__text--bio {
  line-height: 3rem;
  font-size: 2rem;
}
.about__text--findme {
  line-height: 3rem;
  font-size: 2rem;
}
.about__text--findme a {
  color: #818cf8;
  text-decoration: none;
  padding: 0 1.5rem;
}
.about__text--findme a:hover {
  background-color: #818cf8;
  color: #ffffff;
}
.about__checkbox {
  font-size: 2rem;
}
.about__checkbox label {
  padding: 0 1rem;
}

.computers {
  display: flex;
  align-items: start;
  justify-content: left;
  flex-direction: column;
  row-gap: 4rem;
  padding: 1rem 1.5rem;
  margin-bottom: 8rem;
}
.computers__title {
  font-weight: 400;
  text-align: left;
}
.computers p {
  font-size: 2rem;
  line-height: 3rem;
}
.computers p a {
  text-decoration: none;
  color: #818cf8;
}
.computers p a:hover {
  background-color: #818cf8;
  color: #ffffff;
}
.computers__image--block {
  width: 40rem;
  height: 38rem;
  transition: all 0.3s ease-in-out;
}
.computers__image--block img {
  width: 100%;
  height: 100%;
}
.computers__image--block:hover {
  transform: scale(1.1);
}

.tennis {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  row-gap: 3rem;
  padding: 1rem 1.5rem;
  margin-bottom: 8rem;
}
.tennis p {
  font-size: 2rem;
  line-height: 3rem;
}
.tennis__image--block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.tennis__image--block img {
  width: 37rem;
  height: 20rem;
}

.projects {
  display: flex;
  align-items: left;
  justify-content: center;
  row-gap: 3rem;
  flex-direction: column;
  padding: 1rem 1.5rem;
  margin-bottom: 8rem;
}
.projects__title {
  font-weight: 400;
}
.projects__text {
  font-size: 2rem;
  line-height: 3rem;
}
.projects__list {
  padding: 0 5rem;
  line-height: 2;
}
.projects__item {
  font-size: 2rem;
}
.projects__item a {
  color: #818cf8;
  text-decoration: none;
}
.projects__item a:hover {
  background-color: #818cf8;
  color: #ffffff;
}
.projects__item span {
  display: inline-block;
  padding: 0 1rem 0 1rem;
}

.footer {
  padding: 1rem 1.5rem;
}
.footer__nav--links {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 2.4rem;
}
.footer__link--about {
  text-decoration: none;
  color: #818cf8;
  font-size: 1.8rem;
}
.footer__link--img {
  width: 3rem;
  height: 3rem;
}/*# sourceMappingURL=style.css.map */