@media (width < 576px) {
  .nav {
    &__items {
      display: none;
    }

    &__burger {
      display: block;
      display: flex;
      flex-direction: column;
      row-gap: 0.7rem;
    }
  }

  .about {
    &__text--bio {
      max-width: 50rem;
      margin: 0 auto;
    }
  }
}

@media (width < 450px) {
  .computers {
    &__image--block {
      max-width: 30rem;
      max-height: 28rem;
    }
  }
}
