@media (max-width: 768px) {
  .modal-content {
    padding: 2rem 1.5rem;
    margin: 1rem;

    h2 {
      font-size: 1.5rem;
    }
  }

  .modal-close {
    padding: 0.7rem 1.2rem;
  }
}

@media (width < 640px) {
  .nav {
    &__items {
      display: none;
      position: fixed;
      flex-direction: column;
      top: 0;
      left: 0;
      width: 30rem;
      background-color: #f7f9fa;
      padding: 2rem 1.6rem;
      z-index: 11;
      transform: translateX(-39rem);
      opacity: 0;
      transition: all 0.4s;
      height: 100%;

      &.active {
        display: flex;
        align-items: start;
        justify-content: start;
        transform: translateX(0);
        opacity: 1;
      }
    }

    &__link {
      display: block;
      padding: 0.8rem 1.6rem;
      text-decoration: none;
      font-size: 2rem;
      color: $text-primary;
    }

    &__burger {
      display: block;
      display: flex;
      flex-direction: column;
      row-gap: 0.7rem;
    }
  }
}

@media (width < 576px) {
  .about {
    &__text--bio {
      max-width: 50rem;
      margin: 0 auto;
    }
  }

  .tennis {
    &__image--block {
      flex-wrap: wrap;
    }
  }
}

@media (width < 450px) {
  .computers {
    &__image--block {
      max-width: 30rem;
      max-height: 28rem;
    }
  }
}
