.projects {
  display: flex;
  align-items: left;
  justify-content: center;
  row-gap: 3rem;
  flex-direction: column;
  padding: 1rem 1.5rem;
  margin-bottom: 6rem;

  &__title {
    font-size: 2.4rem;
    line-height: 3.8rem;
    font-weight: 600;
  }

  &__text {
    line-height: 2.9rem;
    font-size: 1.8rem;
  }

  &__list {
    padding: 0 5rem;
    line-height: 2;
  }

  &__item {
    line-height: 2.9rem;
    font-size: 1.8rem;

    a {
      color: $accent-secondary;
      text-decoration: none;

      &:hover {
        background-color: $accent-secondary;
        color: $text-primary;
      }
    }

    span {
      display: inline-block;
      padding: 0 1rem 0 1rem;
    }
  }
}
