.tennis {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  row-gap: 3rem;
  padding: 1rem 1.5rem;
  margin-bottom: 6rem;

  h1 {
    font-size: 2.4rem;
    line-height: 3.8rem;
    font-weight: 600;
  }

  p {
    line-height: 2.9rem;
    font-size: 1.8rem;
  }

  &__image--block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    img {
      width: 37rem;
      height: 20rem;
      border-radius: 0.8rem;
    }
  }
}
